
@import url('https://fonts.googleapis.com/css2?family=Noto+Serif:ital,wght@0,100..900;1,100..900&display=swap');


.noto-serif-font {
  font-family: "Noto Serif", serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
}


@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

.inter-font {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
}




/* shared style */
.width{
    max-width: 1440px;
    margin: 0 auto;
}
.display-flex{
    display: flex;
}
.text-font-color{
    color: rgba(0, 0, 0, 0.5);
}

/* header style */
.navbar{
    justify-content: space-between;
}
.nav-item{
    list-style: none;
    margin-right: 40px;

}
.nav-item2{
    list-style: none;
}
.nav-link{
    text-decoration: none;
    font-weight: 500;

}
/* banner style */
.banner{
    margin-top: 150px;
}
.banner-description{
    font-size: 1.5rem;
}

/* plants section style */
.plants-section{
    margin-top: 100px;
    
}
.our-plants-topic{
    text-align: center;
    margin-bottom: 50px;
}
.our-plants-pic{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
}
.card{
    width: 270px;
    margin-bottom: 30px;
    gap: 10px;
    text-align: center;
}
.btn-primary{
    width: 100%;
    background-color: #E95A08;
    color: white;
    padding: 10px;
}


/* responsive media query */
@media screen  and (max-width: 500px){
    .link{
        display: none;
    }
    .navbar{
        justify-content: space-around;
        width: 100%;
    }
    .nav-links, .banner{
        flex-direction: column-reverse;
        align-items: center;
        justify-content: center;
        width: 100%;
    }
     .banner-logo img {
    width: 100%;
    height: auto;
    
  }
  /* plant section */

 .our-plants-pic{
    max-width: 171px;
    grid-template-columns: repeat(2, 1fr);
 }
   .banner-item{
    width: 100%;
   }
}
